@model GymAcess.Models.FichaExercicio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FichaExercicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExercicioId" class="control-label"></label>
                <select asp-for="ExercicioId" class="form-control" asp-items="ViewBag.ExercicioId"></select>
                <span asp-validation-for="ExercicioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucao" class="control-label"></label>
                <input asp-for="Instrucao" class="form-control" />
                <span asp-validation-for="Instrucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanoId" class="control-label"></label>
                <select asp-for="PlanoId" class="form-control" asp-items="ViewBag.PlanoId"></select>
                <span asp-validation-for="PlanoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
