


<div class="sidenav">

    
        <img src="/img/GymAccess.jpg"

    
    <div>
        <form>
            <div class="form-group">
                <label>Nome do Utilizador</label>
                <input name="nomeUsuario" class="form-control" placeholder="Nome do utilizador">
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input name="senha" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn bg-warning">Login</button>
            
        </form>
    </div>
    
    </div>

